.db-cannister {
    position:relative;
}
.db-cannister *{
    position:absolute;
}
.db-cannister .stripe-1,.db-cannister .stripe-2, 
.db-cannister .stripe-3,.db-cannister .stripe-4,
.db-cannister .stripe-5 {
    height:25px;
    width:50px;
    border-radius: 75px/25px;
}
.db-cannister .stripe-1, 
.db-cannister .stripe-3, 
.db-cannister .stripe-5{
    background-color:black;
}
.db-cannister .stripe-2, 
.db-cannister .stripe-4{
    background-color:white;
}
.db-cannister .stripe-2 {
    top:5px;
}
.db-cannister .stripe-3 {
    top:15px;
}
.db-cannister .stripe-4 {
    top:20px;
}
.db-cannister .stripe-5 {
    top:30px;
}