.db-cannister-container {
  display:inline-block;
  height:33px;
}
.db-cannister-holder {
  position:relative;
}
.db-cannister * {
  position:absolute;
}
.db-cannister {
    height:19px;
    width:40px;
}
.db-cannister > div{
    height:19px;
    width:40px;
    border-radius: 75px/25px;
}
.db-cannister .stripe-1,
.db-cannister .stripe-3,
.db-cannister .stripe-5{
    background-color:black;
}
.db-cannister .stripe-2,
.db-cannister .stripe-4{
    background-color:white;
}
.db-cannister .stripe-2 {
    top:3px;
}
.db-cannister .stripe-3 {
    top:13px;
}
.db-cannister .stripe-4 {
    top:17px;
}
.db-cannister .stripe-5 {
    top:26px;
}
