.email-container {
  display:inline-block;
  height:25px;
}
.email * {
  position:absolute;
}
.envelope{
    background-color:white;
    border:solid 4px black;
    width:35px;
    height:25px;
    border-radius:5px;
}
.left-angle,.right-angle{
    background-color:black;
    width:4px;
    height:23px;
    border-radius:10px;
}
.right-angle {
    left:32px;
    transform:rotate(52deg);
    transform-origin: top right;
}
.left-angle {
    transform:rotate(-52deg);
    transform-origin: top left;
}
